body, html{
height:100%;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* général */
p {
    text-align: justify;
    font: 12px 'arial';
}
a {  text-decoration:none;
}
ul {  list-style: none;
}

li {  list-style: none;
}

h1 { color:#2f2f2f; 
    margin-left:2px;
    font:18px 'arial';
    text-align:left;
    width:270px;
    padding:3px;
    line-height:25px;
    letter-spacing:1px;
    text-transform:uppercase;
    font-weight:800;
    border-bottom:1px solid;
}

h2 { 
    color:#2f2f2f;
    font:30px 'arial';
    text-align:left;
    line-height:25px;
    letter-spacing:1px;
    text-transform:uppercase;
    font-weight:800;
    border-bottom:1px solid;
}

h3 {
    color:#2f2f2f;
    font:20px 'arial';
    text-align:left;
    line-height:25px;
    letter-spacing:1px;
    text-transform:uppercase;
    font-weight:900;
    border-bottom:1px solid;
}

/* corps du site */
 body {
      margin: 0px;
 }

/* header */
  header { 
     background-color: #a3a29f; 
     padding-top: 0px;
     padding-bottom:0px;
      color:grey;
      color:grey;
    margin-top:0px;
    margin-left:0px;
    width:310px;
    height:100%;
    position:fixed;
    padding:9px;
  }
    
header li { 
    text-align:left;
    display:inline-block;
    width:270px;
    margin-left:0px;
    color: white;
    margin-left:2px;
    font:10px 'arial';
    letter-spacing:1px;
    text-transform:uppercase;
    font-weight:800;
    }

nav li {  display: inline;
    margin-top:170px;
    margin-left:2px;
     width:250px;
    padding:3px;
    line-height:25px;
    letter-spacing:1px;
    font-size: 15px;
    color: white;
    }

nav a {
    color:white;
}

.nav-main {
    position: absolute;
    top:50%;
    margin-top: -100px;
}
/* MAIN */
main {  
    margin-left:320px;
    min-height:100%;
}
/* INDEX */

.index {
    margin-left: 360px;
    margin-right:50px;
    overflow: hidden;
}

.flotte {
    float:right;
    height: 100px;
    padding:5px;
}
.flotte2 {
    float:left;
    height: 100px;
    padding:5px;
}
#filmindex {
    display:inline-block;
    margin:10px;
    width: 100px;
}
/* MOVIES */



#film {
    display:inline-block;
    margin:20px;
    position: relative;
}
 
.com{
    position: absolute;
    left:0;
    top:50%;
    width: 100%;
    margin-top: -10px;
    text-align: center;
     opacity:0;
    -ms-transform: scale(.7);
    -webkit-transform: scale(.7);
    transform: scale(.7);
    text-align:center;
    transition-duration:.5s;
    -moz-transition-duration:.5s;
    -webkit-transition-duration:.5s;
    -o-transition-duration:.5s;
}
 
#film:hover .com{
    opacity:1;
    font:10px Corbel;
    bottom:20px;
    transition-delay:.1s;
    transition-duration:.5s;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    -moz-transition-duration:.5s;
    -webkit-transition-duration:.5s;
    -o-transition-duration:.5s;
}
 
.com h2{
    margin:0;
    background-color: white;
    color: #2f2f2f;
    font:12px Bitter;
    letter-spacing:1px;
    padding:3px;
    line-height:140%;
    text-transform:uppercase;
   
}
/* PAGE PERSONNAGE */
.flotte3 {
    clear:left;
    width: 300px;
    padding:5px;
    margin:5px;
    border: 1px solid #2f2f2f; 
}

.dperso {
    width: 500px;
    float: left;
    display: inline;
}


/*footer */

footer {
    right:0;
    height:100px;
    width: calc(100% - 700px);
    background-color: #2f2f2f;
    display: inline;
    position:fixed;
    bottom:0;
    margin-bottom: 30px;
    }

footer a {
     color:white;
    margin-left:2px;
    font:10px 'arial';
    letter-spacing:1px;
    text-transform:uppercase;
    font-weight:800;
    display: inline-block;
}
    
.en-cours {
    text-decoration: underline;
    color: white;
}